/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2017, 1:46:32 PM
    Author     : Kevin
*/

#rectImport {
    -fx-stroke-dash-array: 5 10;
    -fx-opacity: 0.3;
}

#labelImport, #fileImport ,#labelPreview, #filePreview{
    -fx-opacity: 0.3;
}

#foundLuggageTableView {
    -fx-padding: 0px;
}

#popUpConfirmLabel {
    -fx-content-display: center;
    -fx-alignment: CENTER;
}

#fileChooserImage, #fileChooserLabel, #uploadRect, #uploadImage, #uploadLabel, #popUpButtonRectangle, #popUpButtonLabel,
#btnSheet1, #btnSheet2, #btnSheet3, #btnSheet4, #btnSheet5, #loginButtonLabel, #loginButtonRect{
    -fx-cursor: hand;
}