/*
    this css file will be for the homeScene.fxml file
*/
/* 
    Created on : Oct 18, 2017, 12:04:42 PM
    Author     : Kevin van veenschoten
*/

#hand {
    -fx-cursor: hand;
    -fx-opacity: 0.7;
}

