/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2017, 4:50:40 PM
    Author     : Kevin
*/

.root{
    /*-fx-font-size: 16pt;*/
    -fx-font-family: "Roboto";
    /*-fx-base: rgb(132, 145, 47);*/
    /*-fx-background: rgb(225, 228, 203);*/
    -fx-focus-color: #cc0000;
    -fx-faint-focus-color: transparent;
}